*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/cpp/.idea
app/src/main/cpp/cmake-build-debug
keystore.properties
/app/release/
/app/configuration.txt
/app/mapping.txt
/app/seeds.txt
/app/usage.txt