<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <application
        android:name=".android.CHelperApplication"
        android:allowBackup="true"
        android:icon="@drawable/pack_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="35">

        <activity
            android:name=".android.welcome.activity.WelcomeActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".android.about.activity.ShowTextActivity"
            android:exported="true" />

        <activity
            android:name=".android.about.activity.AboutActivity"
            android:exported="true" />

        <activity
            android:name=".android.enumeration.activity.EnumerationActivity"
            android:exported="true" />

        <activity
            android:name=".android.common.activity.SettingsActivity"
            android:exported="true" />

        <activity
            android:name=".android.favorites.activity.FavoritesActivity"
            android:exported="true" />

        <activity
            android:name=".android.old2new.activity.Old2NewActivity"
            android:exported="true" />

        <activity
            android:name=".android.old2new.activity.Old2NewIMEGuideActivity"
            android:exported="true" />

        <activity
            android:name=".android.rawtext.activity.RawtextActivity"
            android:exported="true" />

        <activity
            android:name=".android.completion.activity.CompletionActivity"
            android:exported="true" />

        <activity
            android:name=".android.library.activity.PublicLibraryListActivity"
            android:exported="true" />

        <service
            android:name=".android.old2new.service.Old2NewIMEService"
            android:exported="true"
            android:label="@string/old2new_ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

    </application>

</manifest>